:root {
    --moderateViolet: hsl(276, 55%, 52%);
    --paleViolet: hsl(276, 100%, 81%);
    --veryDarkDesaturatedViolet: hsl(271, 36%, 24%);
    --darkGreyishViolet: hsl(270, 7%, 64%);
    --lightGreyishViolet: hsl(270, 20%, 96%);
    --lightMagenta: hsl(293, 100%, 63%);
    --lightViolet: hsl(264, 100%, 61%);
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

.body {
    font-family: 'Rubik', sans-serif;
}

main {
    height: 100vh;
    width: 65vw;
    margin: auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
    main {
        margin: 10rem auto;
        width: 374px;
        max-height: 100vh;
        flex-direction: column;
    }

    .text-block {
        margin: 5rem;
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
}

.smartphone {
    height: 75vh;
    max-width: 275px;
    margin: auto;
    box-shadow: 5px 5px 15px 5px hsl(270, 20%, 96%);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 1rem;
}

.smartphone__back-icon {
    width: 7px;
    height: auto;
}

.smartphone__menu-icon {
    height: 12px;
}

.smartphone__back-icon:hover,
.smartphone__menu-icon:hover {
    cursor: pointer;
}

.smartphone__navigation {
    background: linear-gradient(
        90deg,
        rgba(136, 56, 255, 1) 0%,
        rgba(233, 66, 255, 1) 100%
    );
    display: grid;
    grid-template-columns: 12px 225px 12px;
    align-items: center;
    /* width: 100%; */
    padding: 3rem 1.5rem 2rem;
    /* box-sizing: border-box; */
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    color: #fff;
    height: 20px;
    clip-path: polygon(
        0 0,
        31% 0,
        31% 24%,
        71% 24%,
        71% 0,
        100% 0,
        100% 100%,
        100% 100%,
        65% 100%,
        35% 100%,
        0 100%,
        0 50%
    );
}

.smartphone__username {
    display: flex;
}
.smartphone__name {
    margin: auto 0.5rem;
    grid-column: span 1;
}

.smartphone__name h3 {
    font-size: 1.1rem;
}

.smartphone__name p {
    font-size: 0.8rem;
    color: var(--paleViolet);
    margin-top: 0.5rem;
}

.smartphone__profile-pic {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: auto 0.5rem;
    border: 1px solid white;
}

.smartphone__chat-window {
    background-color: var(--lightGreyishViolet);
    padding: 1rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: 83.5%;
}

.smartphone__chat-window--sent p,
.smartphone__chat-window--received p {
    background-color: var(--paleViolet);
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: 55%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    color: var(--moderateViolet);
    font-size: 1.05rem;
    line-height: 1.5;
    text-align: left;
}

.smartphone__chat-window--received p {
    background-color: #fff;
    margin: 1rem auto 1rem 9.5rem;
}
.smartphone__image-container {
    display: flex;
    justify-content: flex-end;
}

.smartphone__dog-img {
    height: 45px;
    width: 45px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin-left: 1rem;
}

.smartphone__chat-window--received {
    text-align: right;
    margin: 1.5rem 0;
}

.smartphone__check-button-container {
    background: linear-gradient(
        90deg,
        rgba(233, 66, 255, 1) 0%,
        rgba(136, 56, 255, 1) 100%
    );
    margin: 1rem 0;
    width: 70%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-bottom-left-radius: 4px;
    padding: 1rem 0.75rem;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    text-align: left;
}

.smartphone__check-button-container p {
    min-width: 70.92px;
}

.smartphone__check-mark {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid var(--paleViolet);
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@keyframes clicked {
    0% {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        background-color: var(--paleViolet);
    }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        background-color: var(--paleViolet);
    }
}

.smartphone__check-mark:hover {
    cursor: pointer;
}

.smartphone__check-mark:active {
    animation: 250ms clicked cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
    -webkit-animation: 250ms clicked cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
}

.smartphone--price {
    padding: 0 1.5rem;
    font-size: 1.4rem;
    font-weight: bolder;
}

.text-block {
    margin-left: 7rem;
    flex: 1;
}

.text-block h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--veryDarkDesaturatedViolet);
    margin-bottom: 1.5rem;
}

.text-block p {
    font-size: 1.4rem;
    color: var(--darkGreyishViolet);
    margin-top: 1.5rem;
    line-height: 1.75;
    font-family: 'Rubik', sans-serif;
}

#input {
    background-color: #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 1rem 1rem;
    font-size: 1.05rem;
    color: var(--lightGreyishViolet);
    border: none;
    position: relative;
    width: 92%;
}

#input:focus {
    outline: none;
}

.smartphone__input-container {
    display: flex;
    position: relative;
}

.smartphone__send-arrow {
    background-color: var(--veryDarkDesaturatedViolet);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    color: #fff;
    margin-top: 3.5px;
    margin-right: 0.5rem;
}

.smartphone__send-arrow span {
    margin-left: 0.5rem;
    display: grid;
    place-items: center;
}

.smartphone__send-arrow svg {
    width: 7px;
    margin-bottom: 25px;
    margin-left: 5px;
}
